.carnet-app {

}

.carnet-sidebar-panel {
  padding: 40px;
  width: 30%;
  background: #222;
  color: #fff;
}

.carnet-card-container {
  padding: 10px 40px;
  width: 70%;
}

.carnet-card {
  width: 250px;
  border: 1px solid #bbb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  min-height: 200px;
}
