.card-container-title {
  margin-top: 50px;
}

.carnet-sidebar-panel {
  padding: 40px;
  width: 30%;
  background: #222;
  color: #fff;
}

.carnet-card-container {
  padding: 10px 40px;
  width: 70%;
}
